services:
  app:
    build:
      context: .
      dockerfile: ./Dockerfile
      args:
        - BUILD_ENV=local
    env_file:
      - .env
    command: /start
    volumes:
      - .:/app
    ports:
      - "8000:8000" # FastAPI server
      - "5900:5900" # VNC for debugging browser automation
